<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <app-accordian>Javascript
        <p>
          <strong>
            Javascript
          </strong>JavaScript is a high-level, often just-in-time compiled language that conforms to the ECMAScript
          standard.[10] It has dynamic typing, prototype-based object-orientation, and first-class functions. It is
          multi-paradigm, supporting event-driven, functional, and imperative programming styles. It has application
          programming interfaces (APIs) for working with text, dates, regular expressions, standard data structures, and
          the Document Object Model (DOM).

        </p>
      </app-accordian>
      <app-accordian>Angular
        <p>
          <strong>
            Angular
          </strong>Angular (also referred to as "Angular 2+")[4] is a TypeScript-based, free and open-source web
          application framework led by the Angular Team at Google and by a community of individuals and corporations.
          Angular is a complete rewrite from the same team that built AngularJS. Angular is a Single Page Application
          (SPA) Framework which is used for creating Fast Web Applications. It uses concepts of SPA in which UI is
          delivered in the beginning of application request and later only data is requested which makes SPA
          applications fast

        </p>
      </app-accordian>
      <app-accordian>Sass
        <p>
          <strong>
            Sass
          </strong>Sass (short for syntactically awesome style sheets) is a preprocessor scripting language that is
          interpreted or compiled into Cascading Style Sheets (CSS). SassScript is the scripting language itself.
          Sass consists of two syntaxes. The original syntax, called "the indented syntax," uses a syntax similar to
          Haml.[2] It uses indentation to separate code blocks and newline characters to separate rules. The newer
          syntax, SCSS (Sassy CSS), uses block formatting like that of CSS. It uses braces to denote code blocks and
          semicolons to separate rules within a block. The indented syntax and SCSS files are traditionally given the
          extensions .sass and .scss, respectively.

        </p>
      </app-accordian>
      <app-accordian>Bootstrap
        <p>
          <strong>
            Bootstrap
          </strong>Bootstrap is an HTML, CSS and JS library that focuses on simplifying the development of informative
          web pages (as opposed to web applications). The primary purpose of adding it to a web project is to apply
          Bootstrap's choices of color, size, font and layout to that project. As such, the primary factor is whether
          the developers in charge find those choices to their liking. Once added to a project, Bootstrap provides basic
          style definitions for all HTML elements.

        </p>
      </app-accordian>
      <app-accordian>Typescript
        <p>
          <strong>
            Typescript
          </strong>
          TypeScript is a free and open-source programming language developed by Microsoft that adds static typing with
          optional type annotations to JavaScript. It is designed for the development of large applications and
          transpiles to JavaScript.[5] Because TypeScript is a superset of JavaScript, all JavaScript programs are
          syntactically valid TypeScript, but they can fail to type-check for safety reasons.
        </p>
      </app-accordian>
    </div>
  </div>
</div>